<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.usedparts.ui"
          android:versionCode="5"
          android:versionName="1.0.5">
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.usedparts.gcm.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.usedparts.gcm.permission.C2D_MESSAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <receiver
                android:name="com.usedparts.services.gcm.GCMBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service android:name="com.usedparts.services.gcm.GCMIntentService" />

        <activity android:name="MainActivity"
                  android:configChanges="locale"
                  android:screenOrientation="portrait"
                  android:exported="true"
                  android:theme="@style/Theme.AppCompat"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ManufacturersActivity"
                  android:configChanges="locale"
                  android:theme="@style/Theme.AppCompat"
                  android:screenOrientation="portrait"
                />
        <activity android:name=".OrderDetailsActivity"
                  android:configChanges="locale"
                  android:theme="@style/Theme.AppCompat"
                  android:screenOrientation="portrait"
                />

        <activity android:name=".LoginActivity"
                  android:configChanges="locale"
                  android:theme="@style/Theme.AppCompat"
                />
        <activity android:name=".RegistrationActivity"
                  android:configChanges="locale"
                  android:theme="@style/Theme.AppCompat"
                />

        <activity android:name=".ProfileActivity"
                  android:configChanges="locale"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat"
                />

        <activity android:name=".MakeOfferActivity"
                  android:windowSoftInputMode="stateHidden"
                  android:screenOrientation="portrait"
                  android:configChanges="locale"
                  android:theme="@style/Theme.AppCompat"
                />
    </application>
</manifest>
